<div class="center jumbotron">
  <h1>Bienvenido a Tus Recetas online</h1>
  <h2>Cooking DIY hecha con mil amores</h2>
  <%= link_to "¡Regístrate ahora!", "", class: "btn btn-lg btn-default" %>
</div>

<div class="container recetas">
    <div class="row">
      <div class="col-lg-4">
        <h3 class="midrow">
          Recetas de la semana
        </h3>
        <h2 class="left">De la pantalla a tu mesa</h2>
        <img class="img-responsive" src="">
      </div>
      <div class="col-lg-4">
        <h3 class="midrow">
          Recetas de la semana
        </h3>
        <h2 class="left">No más tuppers de mamá</h2>
        <img class="img-responsive" src="">
      </div>
      <div class="col-lg-4">
        <h3 class="midrow">
          Recetas de la semana
        </h3>
        <h2 class="left">No más tuppers de mamá</h2>
        <img class="img-responsive" src="">
      </div>
    </div>
</div>